<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="mySource" switchValue="All">
        <listeners>
          <add name="file" type="Ukadc.Diagnostics.Listeners.FileListener, Ukadc.Diagnostics"
               filePath="{Year}-{Month}-{Day} {Hour}-{Minute} ({ProcessId} - {ProcessName}).log"
               output="{DateTime}{EventType} ({PrincipalName}, {WindowsIdentity}) : {Message}"
               cleanInterval="00:05:00" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>