<?xml version="1.0" encoding="utf-8"?>
<system.diagnostics>
  <sources>
    <source name="ReferenceWebApplication" switchValue="All">
      <listeners>
       <clear />
        <add name="file" />
        <add name="ods" />
        <!--<add name="smtp" />-->
        <add name="sql" />
      </listeners>
    </source>
    <source name="ReferenceServiceApplication" switchValue="All">
      <listeners>
        <clear />
        <add name="file"  />
        <add name="ods" />
        <!--<add name="smtp" />-->
        <add name="sql" />
      </listeners>
    </source>
    <source name="System.ServiceModel" switchValue="Off" propagateActivity="true">
      <listeners>
        <add name="ignored" type="System.Diagnostics.ConsoleTraceListener"  />
      </listeners>
    </source>
  </sources>
  <sharedListeners >
    <add name="file" type="Ukadc.Diagnostics.Listeners.FileListener, Ukadc.Diagnostics" 
         filePath="{Year}-{Month}-{Day} {Hour}-{Minute} ({ProcessId}).log" 
         output="{DateTime}.{Millisecond} - {EventType}: {Message}" cleanInterval="0:0:1" />
    <!-- OutputDebugStringTraceListener -->
    <add name="ods" type="Ukadc.Diagnostics.Listeners.OutputDebugStringTraceListener, Ukadc.Diagnostics"
        initializeData="{Method}::{ActivityId}|{EventType}: {Message} - {DateTime}, Process={ProcessId}, Thread={ThreadId}" />
    <!-- SqlTraceListener -->
    <add name="sql" initializeData="sqlTraceListenerSettings" type="Ukadc.Diagnostics.Listeners.SqlTraceListener, Ukadc.Diagnostics" />
    <!-- SmtpTraceListener -->
    <add name="smtp" type="Ukadc.Diagnostics.Listeners.SmtpTraceListener, Ukadc.Diagnostics"
             initializeData="smtpTraceListenerSettings" >
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
    </add>
  </sharedListeners>
  <trace autoflush="true" />
</system.diagnostics>