<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ukadc.diagnostics" type="Ukadc.Diagnostics.Configuration.UkadcDiagnosticsSection, Ukadc.Diagnostics"/>
  </configSections>
  <ukadc.diagnostics>
    <tokens>
      <token name="{CustomToken}" 
             type="Ukadc.Diagnostics.Tests.Filters.CustomPropertyReader, Ukadc.Diagnostics.Tests" 
             format="{This Should Cause An Error}"/>
    </tokens>
  </ukadc.diagnostics>
</configuration>